In [1]:
import numpy as np
import pandas as pd
import math

In [4]:
df = pd.read_csv('HousingData.csv')

In [5]:
df.shape

(506, 14)

In [6]:
df.columns

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT', 'MEDV'],
      dtype='object')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 14 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   CRIM     486 non-null    float64
 1   ZN       486 non-null    float64
 2   INDUS    486 non-null    float64
 3   CHAS     486 non-null    float64
 4   NOX      506 non-null    float64
 5   RM       506 non-null    float64
 6   AGE      486 non-null    float64
 7   DIS      506 non-null    float64
 8   RAD      506 non-null    int64
 9   TAX      506 non-null    int64
 10  PTRATIO  506 non-null    float64
 11  B        506 non-null    float64
 12  LSTAT    486 non-null    float64
 13  MEDV     506 non-null    float64
dtypes: float64(12), int64(2)
memory usage: 55.5 KB

In [8]:
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,NaN,36.2

In [9]:
df.describe()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
count,486.000000,486.000000,486.000000,486.000000,506.000000,506.000000,486.000000,506.000000,506.000000,506.000000,506.000000,506.000000,486.000000,506.000000
mean,3.611874,11.211934,11.083992,0.069959,0.554695,6.284634,68.518519,3.795043,9.549407,408.237154,18.455534,356.674032,12.715432,22.532806
std,8.720192,23.388876,6.835896,0.255340,0.115878,0.702617,27.999513,2.105710,8.707259,168.537116,2.164946,91.294864,7.155871,9.197104
min,0.006320,0.000000,0.460000,0.000000,0.385000,3.561000,2.900000,1.129600,1.000000,187.000000,12.600000,0.320000,1.730000,5.000000
25%,0.081900,0.000000,5.190000,0.000000,0.449000,5.885500,45.175000,2.100175,4.000000,279.000000,17.400000,375.377500,7.125000,17.025000
50%,0.253715,0.000000,9.690000,0.000000,0.538000,6.208500,76.800000,3.207450,5.000000,330.000000,19.050000,391.440000,11.430000,21.200000
75%,3.560263,12.500000,18.100000,0.000000,0.624000,6.623500,93.975000,5.188425,24.000000,666.000000,20.200000,396.225000,16.955000,25.000000
max,88.976200,100.000000,27.740000,1.000000,0.871000,8.780000,100.000000,12.126500,24.000000,711.000000,22.000000,396.900000,37.970000,50.000000

In [10]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
CRIM,486.0,3.611874,8.720192,0.00632,0.081900,0.253715,3.560263,88.9762
ZN,486.0,11.211934,23.388876,0.00000,0.000000,0.000000,12.500000,100.0000
INDUS,486.0,11.083992,6.835896,0.46000,5.190000,9.690000,18.100000,27.7400
CHAS,486.0,0.069959,0.255340,0.00000,0.000000,0.000000,0.000000,1.0000
NOX,506.0,0.554695,0.115878,0.38500,0.449000,0.538000,0.624000,0.8710
RM,506.0,6.284634,0.702617,3.56100,5.885500,6.208500,6.623500,8.7800
AGE,486.0,68.518519,27.999513,2.90000,45.175000,76.800000,93.975000,100.0000
DIS,506.0,3.795043,2.105710,1.12960,2.100175,3.207450,5.188425,12.1265
RAD,506.0,9.549407,8.707259,1.00000,4.000000,5.000000,24.000000,24.0000
TAX,506.0,408.237154,168.537116,187.00000,279.000000,330.000000,666.000000,711.0000
PTRATIO,506.0,18.455534,2.164946,12.60000,17.400000,19.050000,20.200000,22.0000
B,506.0,356.674032,91.294864,0.32000,375.377500,391.440000,396.225000,396.9000
LSTAT,486.0,12.715432,7.155871,1.73000,7.125000,11.430000,16.955000,37.9700
MEDV,506.0,22.532806,9.197104,5.00000,17.025000,21.200000,25.000000,50.0000

In [11]:
df.isnull()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,False,False,False,False,False,False,False,False,False,False,False,False,True,False
502,False,False,False,False,False,False,False,False,False,False,False,False,False,False
503,False,False,False,False,False,False,False,False,False,False,False,False,False,False
504,False,False,False,False,False,False,False,False,False,False,False,False,False,False
505,False,False,False,False,False,False,True,False,False,False,False,False,False,False

In [12]:
df.isnull().sum()

CRIM       20
ZN         20
INDUS      20
CHAS       20
NOX         0
RM          0
AGE        20
DIS         0
RAD         0
TAX         0
PTRATIO     0
B           0
LSTAT      20
MEDV        0
dtype: int64

In [13]:
df.corr()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
CRIM,1.000000,-0.191178,0.401863,-0.054355,0.417130,-0.219150,0.354342,-0.374166,0.624765,0.580595,0.281110,-0.381411,0.444943,-0.391363
ZN,-0.191178,1.000000,-0.531871,-0.037229,-0.513704,0.320800,-0.563801,0.656739,-0.310919,-0.312371,-0.414046,0.171303,-0.414193,0.373136
INDUS,0.401863,-0.531871,1.000000,0.059859,0.764866,-0.390234,0.638431,-0.711709,0.604533,0.731055,0.390954,-0.360532,0.590690,-0.481772
CHAS,-0.054355,-0.037229,0.059859,1.000000,0.075097,0.104885,0.078831,-0.093971,0.001468,-0.032304,-0.111304,0.051264,-0.047424,0.181391
NOX,0.417130,-0.513704,0.764866,0.075097,1.000000,-0.302188,0.731548,-0.769230,0.611441,0.668023,0.188933,-0.380051,0.582641,-0.427321
RM,-0.219150,0.320800,-0.390234,0.104885,-0.302188,1.000000,-0.247337,0.205246,-0.209847,-0.292048,-0.355501,0.128069,-0.614339,0.695360
AGE,0.354342,-0.563801,0.638431,0.078831,0.731548,-0.247337,1.000000,-0.744844,0.458349,0.509114,0.269226,-0.275303,0.602891,-0.394656
DIS,-0.374166,0.656739,-0.711709,-0.093971,-0.769230,0.205246,-0.744844,1.000000,-0.494588,-0.534432,-0.232471,0.291512,-0.493328,0.249929
RAD,0.624765,-0.310919,0.604533,0.001468,0.611441,-0.209847,0.458349,-0.494588,1.000000,0.910228,0.464741,-0.444413,0.479541,-0.381626
TAX,0.580595,-0.312371,0.731055,-0.032304,0.668023,-0.292048,0.509114,-0.534432,0.910228,1.000000,0.460853,-0.441808,0.536110,-0.468536
PTRATIO,0.281110,-0.414046,0.390954,-0.111304,0.188933,-0.355501,0.269226,-0.232471,0.464741,0.460853,1.000000,-0.177383,0.375966,-0.507787
B,-0.381411,0.171303,-0.360532,0.051264,-0.380051,0.128069,-0.275303,0.291512,-0.444413,-0.441808,-0.177383,1.000000,-0.369889,0.333461
LSTAT,0.444943,-0.414193,0.590690,-0.047424,0.582641,-0.614339,0.602891,-0.493328,0.479541,0.536110,0.375966,-0.369889,1.000000,-0.735822
MEDV,-0.391363,0.373136,-0.481772,0.181391,-0.427321,0.695360,-0.394656,0.249929,-0.381626,-0.468536,-0.507787,0.333461,-0.735822,1.000000

In [14]:
df.nunique()

CRIM       484
ZN          26
INDUS       76
CHAS         2
NOX         81
RM         446
AGE        348
DIS        412
RAD          9
TAX         66
PTRATIO     46
B          357
LSTAT      438
MEDV       229
dtype: int64

In [15]:
# Option 1: Drop rows with missing values
# df = df.dropna()  
# Alternatively, you could impute:
df.fillna(df.mean(), inplace=True)

In [16]:
correlation_matrix = df.corr()
correlation_with_target = correlation_matrix['MEDV'].sort_values(ascending=False)
print(correlation_with_target)

MEDV       1.000000
RM         0.695360
ZN         0.365943
B          0.333461
DIS        0.249929
CHAS       0.179882
CRIM      -0.379695
AGE       -0.380223
RAD       -0.381626
NOX       -0.427321
TAX       -0.468536
INDUS     -0.478657
PTRATIO   -0.507787
LSTAT     -0.721975
Name: MEDV, dtype: float64

In [17]:
selected_columns = correlation_with_target[(correlation_with_target.abs() >= 0.5) & (correlation_with_target.abs() <= 0.8)].index
selected_columns = selected_columns.union(['MEDV'])  
subset_df = df[selected_columns]

In [22]:
print(df.columns)
print(subset_df.columns)

Index(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX',
       'PTRATIO', 'B', 'LSTAT', 'MEDV'],
      dtype='object')
Index(['LSTAT', 'MEDV', 'PTRATIO', 'RM'], dtype='object')

In [19]:
from sklearn.model_selection import train_test_split

# Full dataset
X_full = df.drop(columns=['MEDV'])
y_full = df['MEDV']
X_full_train, X_full_test, y_full_train, y_full_test = train_test_split(X_full, y_full, test_size=0.3, random_state=42)

# Subset dataset
X_subset = subset_df.drop(columns=['MEDV'])
y_subset = subset_df['MEDV']
X_subset_train, X_subset_test, y_subset_train, y_subset_test = train_test_split(X_subset, y_subset, test_size=0.3, random_state=42)

In [20]:
# Full dataset
lr_full = LinearRegression()
lr_full.fit(X_full_train, y_full_train)
score_full = lr_full.score(X_full_test, y_full_test)

# Subset dataset
lr_subset = LinearRegression()
lr_subset.fit(X_subset_train, y_subset_train)
score_subset = lr_subset.score(X_subset_test, y_subset_test)

print("Sklearn Linear Regression - Full Dataset Score:", score_full)
print("Sklearn Linear Regression - Subset Dataset Score:", score_subset)

Sklearn Linear Regression - Full Dataset Score: 0.7071862632031795
Sklearn Linear Regression - Subset Dataset Score: 0.6497977451935486

In [ ]:
class MyLinearRegression:
    def __init__(self):
        """
        Initializes the Linear Regression model.
        It also stores the self.params__ variable,
        which will be the weights that the model returns.
        """
        self.params__ = None

    def gradientDescent(self, X, y, learning_rate=0.00001, iterations=500, batch_size=16):
        """
        This function applies the Gradient Descent model to the dataset.
        :param X: numpy.ndarray
        The X matrix containing the independent variable columns.
        :param y: numpy.ndarray
        The target vector y.
        """
        # Add a column of ones for the constant term
        X = np.concatenate([X, np.ones_like(y)], axis=1)
        rows, cols = X.shape
        # Combine the X and y columns to more easily shuffle it later
        X = np.append(X, y, axis=1)
        # Make the initial random guess for w
        w = np.random.random((cols, 1))
        # Go through all the iterations
        for i in range(iterations):
            # Shuffle the rows of the data
            np.random.shuffle(X)
            # Define X and y again
            y_it = X[:, -1].reshape((rows, 1))
            X_it = X[:, :-1]
            # Iterate through the batches
            for batch in range(math.ceil(rows / batch_size)):
                batch_start = batch * batch_size
                # Cut a batch from the dataset
                x_batch = X_it[batch_start: min(batch_start + batch_size, X.shape[0])]
                y_batch = y_it[batch_start: min(batch_start + batch_size, X.shape[0])]
                # Subtract the gradient from our previous estimation
                w -= learning_rate * np.matmul(x_batch.transpose(), (np.matmul(x_batch, w) - y_batch))
        self.params__ = w
        return self

    def predict(self, X):
        X = np.concatenate([X, np.ones(X.shape[0]).reshape((X.shape[0], 1))], axis=1)
        return np.matmul(X, self.params__)
    
    def print(self):
        print("test")

mlr_subset = MyLinearRegression()
mlr_subset.gradientDescent(X_subset_train.to_numpy(), y_subset_train.to_numpy().reshape(-1, 1))
pred_subset = mlr_subset.predict(X_subset_test.to_numpy())

print("SMLH Linear Regression - Subset Dataset MSE:", pred_subset)

C:\Users\addyg\AppData\Local\Temp\ipykernel_3900\3934706914.py:39: RuntimeWarning: overflow encountered in matmul
  w -= learning_rate * np.matmul(x_batch.transpose(), (np.matmul(x_batch, w) - y_batch))
C:\Users\addyg\AppData\Local\Temp\ipykernel_3900\3934706914.py:39: RuntimeWarning: invalid value encountered in matmul
  w -= learning_rate * np.matmul(x_batch.transpose(), (np.matmul(x_batch, w) - y_batch))
C:\Users\addyg\AppData\Local\Temp\ipykernel_3900\3934706914.py:39: RuntimeWarning: invalid value encountered in subtract
  w -= learning_rate * np.matmul(x_batch.transpose(), (np.matmul(x_batch, w) - y_batch))

SMLH Linear Regression - Subset Dataset MSE: [[25.80241263]
 [30.55614088]
 [17.21170624]
 [25.17781403]
 [19.35026426]
 [22.75390423]
 [17.18034362]
 [14.40653662]
 [21.52624255]
 [19.87535418]
 [18.19917785]
 [19.30973461]
 [-1.70448515]
 [22.28469518]
 [19.52539824]
 [25.69314539]
 [17.22087779]
 [ 3.93447499]
 [37.87398307]
 [18.24470267]
 [22.14000101]
 [26.94049551]
 [12.86403451]
 [23.35964799]
 [18.67846961]
 [14.12341916]
 [20.12379487]
 [20.85737593]
 [17.98517542]
 [18.74334317]
 [17.95174278]
 [26.04988222]
 [27.08201557]
 [18.36918218]
 [15.41129397]
 [18.6110207 ]
 [32.52719947]
 [21.34749261]
 [20.05958866]
 [21.99291369]
 [12.47757224]
 [28.50410654]
 [38.70220384]
 [18.32881094]
 [25.59241665]
 [16.27203597]
 [15.25729276]
 [26.39482959]
 [19.21132061]
 [29.39170384]
 [21.55234409]
 [31.86721687]
 [17.43763981]
 [27.32794643]
 [35.97171021]
 [23.3015341 ]
 [19.32011544]
 [30.7664358 ]
 [24.7685752 ]
 [15.22418145]
 [26.51469333]
 [32.39445239]
 [29.36271543]
 [17.77956038]
 [28.2472401 ]
 [11.27407647]
 [20.38175049]
 [25.82852463]
 [29.01089696]
 [16.60091851]
 [19.04849323]
 [27.32241646]
 [13.17353987]
 [23.63540267]
 [22.98257961]
 [ 7.06288513]
 [21.29870799]
 [37.18152091]
 [18.49286658]
 [10.70951397]
 [22.3961054 ]
 [10.37701401]
 [22.80713048]
 [ 7.63900581]
 [21.5957028 ]
 [27.82588494]
 [22.03543148]
 [26.6148843 ]
 [25.86176947]
 [21.46253746]
 [23.03342182]
 [ 8.53877817]
 [22.11535976]
 [20.25134202]
 [10.36664057]
 [23.02454567]
 [23.38768215]
 [ 0.39707519]
 [19.78949807]
 [19.01997846]
 [20.86379572]
 [24.54461279]
 [ 9.53949617]
 [21.69448853]
 [24.32489356]
 [14.81468986]
 [19.4880971 ]
 [27.3033427 ]
 [23.29505985]
 [27.3114989 ]
 [13.25283027]
 [20.9116826 ]
 [25.50613766]
 [23.73997766]
 [31.17612071]
 [20.08179043]
 [33.63433456]
 [15.76783957]
 [19.47994368]
 [27.70557004]
 [18.60658871]
 [27.2782567 ]
 [15.56645553]
 [22.58047697]
 [25.952231  ]
 [23.67033135]
 [27.51809178]
 [31.90734165]
 [21.46165925]
 [36.97319445]
 [10.17725934]
 [26.24801822]
 [20.34317489]
 [19.03829212]
 [ 8.52346008]
 [23.07630628]
 [23.1252822 ]
 [31.35407498]
 [29.80910959]
 [17.65387493]
 [18.95508957]
 [28.29391749]
 [21.83836425]
 [11.08502132]
 [ 9.34320332]
 [23.53447763]
 [21.27893766]
 [22.57665933]
 [14.98035955]
 [40.65758998]
 [20.71232559]
 [19.58062428]]